<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Project list</title>

    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" href="../static/css/bootstrap.min.css"/>-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>-->
    <script type="application/javascript">
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            //document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            ws = new WebSocket('ws://localhost:5342/jwdsrv/name');
            ws.onmessage = function(data){
                console.info('data = ', data);
                showGreeting(data.data);
            }
            setConnected(true);
        }

        function disconnect() {
            if (ws != null) {
                ws.close();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            var name = document.getElementById('name').value;
            ws.send(name);
        }

        function showGreeting(message) {
            var div = document.getElementById('response');
            div.innerHTML += " " + message + "";
        }
    </script>
</head>

<body>
    <h2>Project list</h2>

    <table>
        <tr>
            <th>Project ID</th>
            <th>Name</th>
            <th>Note</th>
        </tr>

        <tr th:each="project : ${projects}">
            <td th:text="${project.projectId}">Id</td>
            <td th:text="${project.name}">Name</td>
            <td th:text="${project.note}">Note</td>
        </tr>
    </table>

    <a th:href="@{/project/9}">next page</a>
    <input type="button" value="fdsfsd" />
    <input type="email" />


    <div>
        <div>
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        </div>
        <div id="conversationDiv">
            <label>What is your name?</label>
            <input type="text" id="name" />
            <button id="sendName" onclick="sendName();">Send</button>
            <div id="response"></div>
        </div>
    </div>
</body>
</html>